# Configuración SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario@example.com
SMTP_PASSWORD=tu_contraseña

# URL del Frontend para los enlaces de recuperación
FRONTEND_URL=http://localhost:3000

# Configuración DKIM (opcional, para mejorar la entrega de correos)
# DKIM_DOMAIN_NAME=example.com
# DKIM_SELECTOR=default
# DKIM_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----